<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Buy Your Way to a Better Education!</title>
		<link href="{{static_url("buyagrade.css")}}" type="text/css" rel="stylesheet" />
	</head>
	
	<body>
	<div id = "content">
		<div id = "maindiv">
			<h1>Buy Your Way to a Better Education!</h1>

			<p>
				The rough economy, along with recent changes in Sun Yat-sen University policy, now allow us to offer grades for money.  That's right!  All you need to get a 4.0 in this course is cold, hard, cash.
			</p>
			
			<hr />
			
			<h2>Give Us Your Money</h2>
			<form action="/submit/" method="post">
				<p>Name</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" name = "name" /></p>
				<p>Section</p>
				<p> &nbsp;&nbsp;&nbsp;&nbsp;<select name = "section">
					 <option value="none" selected = "selected">(Select a section)</option>
					 <option value="MA" >MA</option>
					 <option value = "MB">MB</option>
					 <option value = "MC">MC</option>
					 <option value = "MD">MD</option>
					 <option value = "ME">ME</option>
					 <option value = "MF">MF</option>
					 <option value = "MG">MG</option>
					 <option value = "MH">MH</option>
					</select>
				</p>
				<p>Credit Card</p>
				<p> &nbsp;&nbsp;&nbsp;&nbsp;<input type = "text" name = "crednum" /></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="cretype" value="visa" />Visa <input type="radio" name="cretype" value="mastercard" />Mastercard</p>
				<div id="button">
					<input type="submit" value="I am a giant Sucker" align="center"/>
				</div>
			</form>
		</div>
		
	</div>
	</body>
</html>