body{
  font-family:Arial,sans-serif;
}

#mainbody{
  margin-left:auto;
  margin-right:auto;
  width:800px;
}

.tag{
  float:left;
  margin-right:5px;
  background-color:green;
}

.date{
  float:right;
}

.line{
  clear:both;
}

.title{
  color:blue;
}
